<a href="https://colab.research.google.com/github/KIQVinicius/Data-Science/blob/master/AnomaliasJob.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [190]:
import pandas as pd
from datetime import timedelta

In [191]:
import numpy as np
from datetime import date

In [192]:
dataset = pd.read_csv("MIPS1.csv")

In [193]:
porcentagem = float(dataset['Porcentagem'][1])/100 + 1
dataset.columns = ['Index', 'JOBNAME', 'DATE', 'Valor_MIPS', 'Porcentagem', 'Chave']

In [194]:
dataset = dataset.drop(columns=["Porcentagem", "Chave"], axis=1)

In [195]:
dataset['DATE'] = pd.to_datetime(dataset['DATE'])

In [196]:
first_day = dataset['DATE'].min()
last_day = dataset['DATE'].max()

In [197]:
first_day

Timestamp('2019-01-11 00:00:00')

In [198]:
last_day

Timestamp('2020-12-05 00:00:00')

In [199]:
dataset_first_day = dataset.query("DATE == " +"'" + str(first_day) + "'")
dataset_last_day = dataset.query("DATE == " +"'" + str(last_day) + "'")

In [200]:
dt = last_day.date() - first_day.date()

In [201]:
weeks = dt.days/7

In [202]:
weeks = int(weeks)

In [203]:
weeks

99

In [204]:
data = first_day

In [205]:
data+ timedelta(days = 7)

Timestamp('2019-01-18 00:00:00')

In [206]:
frequencia = pd.DataFrame(dataset['JOBNAME'].value_counts())
frequencia.reset_index(inplace=True)
frequencia.columns = ['JOBNAME', 'Frequencia']

In [207]:
frequencia = frequencia.query("Frequencia > 1")

In [208]:
dataset = dataset[dataset['JOBNAME'].isin(frequencia['JOBNAME'])]
dataset.head()

   Index   JOBNAME       DATE  Valor_MIPS
0      0  FG94BM07 2020-05-24        0.08
1      1  FG94BM09 2020-05-24        0.03
2      2  FG94BM19 2020-05-24        0.02
3      3  FG94BM20 2020-05-24        0.48
4      4  FG94BM21 2020-05-24        0.02

In [209]:
pd.DataFrame(dataset['JOBNAME'].value_counts())

          JOBNAME
FG94BR09      252
DB2PDIST      252
CSQRMSTR      252
SMS           252
FA2894        252
...           ...
S1050540        2
FG9438          2
FG3006SC        2
FG9257DA        2
FF031TSF        2

[12863 rows x 1 columns]

In [210]:
data = first_day
tabela_final = dataset.iloc[0:0]
soma = 0
dataset_semana_anterior = dataset.query("DATE >= " + " '"+ str(data)+ "' " + " and DATE < " + " '"+str(data+ timedelta(days = 7)) + "' ")
data = data+ timedelta(days = 7)
dataset_semana_anterior = dataset_semana_anterior[dataset_semana_anterior['Valor_MIPS']>0].groupby('JOBNAME')
dataset_semana_anterior = pd.DataFrame(dataset_semana_anterior['Valor_MIPS'].mean())
dataset_semana_anterior.reset_index(inplace =True)
data = data+ timedelta(days = 7)
for week in range(0, weeks, 1):
  print("------------------------")
  dataset_semana = dataset.query("DATE >= " + " '"+ str(data)+ "' " + " and DATE < " + " '"+str(data+ timedelta(days = 7)) + "' ")
  dataset = dataset.query("DATE >= " + " '"+ str(data+ timedelta(days = 7))+ "' ")
  print("Dataset: " + str(dataset.shape[0]))
  print("Final: " + str(tabela_final.shape[0]))
  soma = soma + dataset_semana.shape[0]
  dataset_semana = dataset_semana[dataset_semana['Valor_MIPS']>0].groupby('JOBNAME')
  dataset_semana = pd.DataFrame(dataset_semana['Valor_MIPS'].mean())
  dataset_semana.reset_index(inplace=True)
  for index, row in dataset_semana.iterrows():
    tabela_final = tabela_final.append(dataset_semana_anterior.query("JOBNAME == "+"'"+row['JOBNAME']+"'" + " and Valor_MIPS > "+ str(float(row['Valor_MIPS']) * porcentagem)))
  dataset_semana_anterior = dataset_semana
  data = data+ timedelta(days = 7)
dataset_ultima_semana = dataset.query("Index >= " + str(soma))

------------------------
Dataset: 1114804
Final: 0
------------------------
Dataset: 1114804
Final: 0
------------------------
Dataset: 1105944
Final: 0
------------------------
Dataset: 1105944
Final: 0
------------------------
Dataset: 1105944
Final: 0
------------------------
Dataset: 1105944
Final: 0
------------------------
Dataset: 1093932
Final: 0
------------------------
Dataset: 1093932
Final: 0
------------------------
Dataset: 1093932
Final: 0
------------------------
Dataset: 1093932
Final: 0
------------------------
Dataset: 1084271
Final: 0
------------------------
Dataset: 1079208
Final: 0
------------------------
Dataset: 1079208
Final: 1071
------------------------
Dataset: 1079208
Final: 1071
------------------------
Dataset: 1079208
Final: 1071
------------------------
Dataset: 1064519
Final: 1071
------------------------
Dataset: 1064519
Final: 1071
------------------------
Dataset: 1064519
Final: 1071
------------------------
Dataset: 1064519
Final: 1071
------------------------
Dataset: 1051819
Final: 1071
------------------------
Dataset: 1051819
Final: 1071
------------------------
Dataset: 1051819
Final: 1071
------------------------
Dataset: 1051819
Final: 1071
------------------------
Dataset: 1042077
Final: 1071
------------------------
Dataset: 1038036
Final: 1071
------------------------
Dataset: 1038036
Final: 2437
------------------------
Dataset: 1038036
Final: 2437
------------------------
Dataset: 1038036
Final: 2437
------------------------
Dataset: 1025234
Final: 2437
------------------------
Dataset: 1025234
Final: 2437
------------------------
Dataset: 1025234
Final: 2437
------------------------
Dataset: 1025234
Final: 2437
------------------------
Dataset: 1011210
Final: 2437

KeyboardInterrupt: ignored