<a href="https://colab.research.google.com/github/KIQVinicius/Data-Science/blob/master/AnomaliasJob.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [311]:
import pandas as pd
from datetime import timedelta

In [312]:

from datetime import date

In [313]:
dataset = pd.read_csv("MIPS1.csv")
dataset.head()

   Unnamed: 0   JOBNAME  ... Porcentagem               Chave
0           0  FG921RID  ...         0.3  FG921RID08/06/2020
1           1  FG921RII  ...         0.3  FG921RII08/06/2020
2           2  FG921RIS  ...         0.3  FG921RIS08/06/2020
3           3    FG9227  ...         0.3    FG922708/06/2020
4           4   FG9227A  ...         0.3   FG9227A08/06/2020

[5 rows x 6 columns]

In [314]:
porcentagem = float(dataset['Porcentagem'][0])/100 + 1
dataset.columns = ['Index', 'JOBNAME', 'DATE', 'Valor_MIPS', 'Porcentagem', 'Chave']

In [315]:
dataset = dataset.drop(columns=["Porcentagem", "Chave"], axis=1)

In [316]:
dataset['DATE'] = pd.to_datetime(dataset['DATE'])
dataset = dataset.sort_values(['DATE'])

In [317]:
first_day = dataset['DATE'].min()
last_day = dataset['DATE'].max()

In [318]:
first_day

Timestamp('2019-01-11 00:00:00')

In [319]:
last_day

Timestamp('2020-12-06 00:00:00')

In [320]:
dt = last_day.date() - first_day.date()
dt.days

695

In [321]:
weeks = int(dt.days/7)
weeks

99

In [322]:
months = int(dt.days/30)
months

23

In [323]:
data = first_day
dataset['JOBNAME'].value_counts()

FG95BM09    262
TWSJSDEL    262
FZ90DPH1    262
DB2SDIST    262
FZ92DCV0    262
           ...
FF016R4V      1
F6JP5DC4      1
FZ626EQ1      1
FG00PSI1      1
MSTRASFP      1
Name: JOBNAME, Length: 15631, dtype: int64

In [324]:
frequencia = pd.DataFrame(dataset['JOBNAME'].value_counts())
frequencia.reset_index(inplace=True)
frequencia.columns = ['JOBNAME', 'Frequencia']
frequencia

        JOBNAME  Frequencia
0      FG95BM09         262
1      TWSJSDEL         262
2      FZ90DPH1         262
3      DB2SDIST         262
4      FZ92DCV0         262
...         ...         ...
15626  FF016R4V           1
15627  F6JP5DC4           1
15628  FZ626EQ1           1
15629  FG00PSI1           1
15630  MSTRASFP           1

[15631 rows x 2 columns]

In [325]:
frequencia = frequencia.query("Frequencia > 1")

In [326]:
dataset = dataset[dataset['JOBNAME'].isin(frequencia['JOBNAME'])]
dataset.head()

         Index   JOBNAME       DATE  Valor_MIPS
192478  192478   BD26B8L 2019-01-11        1.14
196089  196089  FS0245SI 2019-01-11        2.88
196088  196088  FS0245SF 2019-01-11        0.01
196087  196087  FS0245NL 2019-01-11        3.64
196086  196086  FS0245NG 2019-01-11        0.18

In [327]:
dataset = dataset.drop(columns=["Index"], axis=1)
dataset['JOBNAME'].value_counts()

PSNIMSTR    262
FG76BLR0    262
FX2242      262
FG92MPO1    262
FZ8130      262
           ...
FG941G        2
FH08A0J       2
FG95AU        2
S1030540      2
PDJFN005      2
Name: JOBNAME, Length: 12923, dtype: int64

# Anomalia

In [328]:
def DetectarAnomalia(dataset, intervalo):
  if intervalo == "Mensal":
    periodo = months
    intervalo_de_dias = 30
  elif intervalo == "Semanal":
    periodo = weeks
    intervalo_de_dias = 7
  elif intervalo == "Quinzenal":
    periodo = int(dt.days/15)
    intervalo_de_dias = 15
  elif intervalo == "Trimestral":
    periodo = int(dt.days/90)
    intervalo_de_dias = 90
  elif intervalo == "Semestral":
    periodo = int(dt.days/180)
    intervalo_de_dias = 180
  elif intervalo == "Diario":
    periodo = int(dt.days)
    intervalo_de_dias = 1
  data = first_day
  tabela_anomalia = dataset.iloc[0:0]
  tabela_anomalia['Valor_MIPS_y'] = ""
  tabela_anomalia['Status'] = ""
  tabela_anomalia.columns = ['JOBNAME', 'DATE', 'Valor_MIPS_Atual', 'Valor_MIPS_Anterior', 'Status']
  dataset_semana_anterior = dataset.query("DATE >= " + " '"+ str(data)+ "' " + " and DATE < " + " '"+str(data+ timedelta(days = intervalo_de_dias)) + "' ")
  data = data+ timedelta(days = intervalo_de_dias)
  dataset_semana_anterior = dataset_semana_anterior[dataset_semana_anterior['Valor_MIPS']>0].groupby('JOBNAME')
  dataset_semana_anterior = pd.DataFrame(dataset_semana_anterior['Valor_MIPS'].mean())
  dataset_semana_anterior.reset_index(inplace =True)
  for i in range(0, periodo, 1):
    dataset_semana = dataset.query("DATE >= " + " '"+ str(data)+ "' " + " and DATE < " + " '"+str(data+ timedelta(days = intervalo_de_dias)) + "' ")
    #dataset = dataset.query("DATE >= " + " '"+ str(data+ timedelta(days = 30))+ "' ")
    print("-------------------------------------------------")
    #dataset_semana = dataset_semana[dataset_semana['Valor_MIPS']>0].groupby('JOBNAME')
    #dataset_semana = pd.DataFrame(dataset_semana['Valor_MIPS'].mean())
    dataset_semana_anterior = dataset_semana_anterior[dataset_semana_anterior['JOBNAME'].isin(dataset_semana['JOBNAME'])]

    df = pd.merge(dataset_semana, dataset_semana_anterior, on = "JOBNAME", how ='inner', suffixes=['_Atual', '_Anterior'])
    df = df[df['Valor_MIPS_Atual'] > df['Valor_MIPS_Anterior'] *porcentagem]
    df['Status'] = "Aumentou"
    tabela_anomalia = tabela_anomalia.append(df)
    df = df[df['Valor_MIPS_Atual'] < df['Valor_MIPS_Anterior'] *porcentagem]
    df['Status'] = "Diminuiu"
    tabela_anomalia = tabela_anomalia.append(df)

    print("Anomalias até " + str(data + timedelta(days = intervalo_de_dias) )[0:10]+": "  + str(tabela_anomalia.shape[0]))
    dataset_semana_anterior = dataset_semana[dataset_semana['Valor_MIPS']>0].groupby('JOBNAME')
    dataset_semana_anterior = pd.DataFrame(dataset_semana_anterior['Valor_MIPS'].mean())
    dataset_semana_anterior.reset_index(inplace=True)
    data = data+ timedelta(days = intervalo_de_dias)
  tabela_anomalia['Anomalia'] = intervalo
  return tabela_anomalia

In [329]:
tabela_mensal = DetectarAnomalia(dataset, "Mensal")

-------------------------------------------------
Anomalias até 2019-03-12: 3667
-------------------------------------------------
Anomalias até 2019-04-11: 8414
-------------------------------------------------
Anomalias até 2019-05-11: 12076
-------------------------------------------------
Anomalias até 2019-06-10: 17194
-------------------------------------------------
Anomalias até 2019-07-10: 20450
-------------------------------------------------
Anomalias até 2019-08-09: 24408
-------------------------------------------------
Anomalias até 2019-09-08: 28826
-------------------------------------------------
Anomalias até 2019-10-08: 33547
-------------------------------------------------
Anomalias até 2019-11-07: 66556
-------------------------------------------------
Anomalias até 2019-12-07: 115274
-------------------------------------------------
Anomalias até 2020-01-06: 144073
-------------------------------------------------
Anomalias até 2020-02-05: 190559
-------------------------------------------------
Anomalias até 2020-03-06: 238529
-------------------------------------------------
Anomalias até 2020-04-05: 272572
-------------------------------------------------
Anomalias até 2020-05-05: 297663
-------------------------------------------------
Anomalias até 2020-06-04: 343390
-------------------------------------------------
Anomalias até 2020-07-04: 368448
-------------------------------------------------
Anomalias até 2020-08-03: 375593
-------------------------------------------------
Anomalias até 2020-09-02: 383302
-------------------------------------------------
Anomalias até 2020-10-02: 393124
-------------------------------------------------
Anomalias até 2020-11-01: 400706
-------------------------------------------------
Anomalias até 2020-12-01: 410156
-------------------------------------------------
Anomalias até 2020-12-31: 419505

In [330]:
tabela_semanal = DetectarAnomalia(dataset, "Semanal")

-------------------------------------------------
Anomalias até 2019-01-25: 0
-------------------------------------------------
Anomalias até 2019-02-01: 0
-------------------------------------------------
Anomalias até 2019-02-08: 0
-------------------------------------------------
Anomalias até 2019-02-15: 0
-------------------------------------------------
Anomalias até 2019-02-22: 0
-------------------------------------------------
Anomalias até 2019-03-01: 0
-------------------------------------------------
Anomalias até 2019-03-08: 0
-------------------------------------------------
Anomalias até 2019-03-15: 0
-------------------------------------------------
Anomalias até 2019-03-22: 0
-------------------------------------------------
Anomalias até 2019-03-29: 0
-------------------------------------------------
Anomalias até 2019-04-05: 0
-------------------------------------------------
Anomalias até 2019-04-12: 0
-------------------------------------------------
Anomalias até 2019-04-19: 2369
-------------------------------------------------
Anomalias até 2019-04-26: 2369
-------------------------------------------------
Anomalias até 2019-05-03: 2369
-------------------------------------------------
Anomalias até 2019-05-10: 2369
-------------------------------------------------
Anomalias até 2019-05-17: 2369
-------------------------------------------------
Anomalias até 2019-05-24: 2369
-------------------------------------------------
Anomalias até 2019-05-31: 2369
-------------------------------------------------
Anomalias até 2019-06-07: 2369
-------------------------------------------------
Anomalias até 2019-06-14: 2369
-------------------------------------------------
Anomalias até 2019-06-21: 2369
-------------------------------------------------
Anomalias até 2019-06-28: 2369
-------------------------------------------------
Anomalias até 2019-07-05: 2369
-------------------------------------------------
Anomalias até 2019-07-12: 2369
-------------------------------------------------
Anomalias até 2019-07-19: 3462
-------------------------------------------------
Anomalias até 2019-07-26: 3462
-------------------------------------------------
Anomalias até 2019-08-02: 3462
-------------------------------------------------
Anomalias até 2019-08-09: 3462
-------------------------------------------------
Anomalias até 2019-08-16: 3462
-------------------------------------------------
Anomalias até 2019-08-23: 3462
-------------------------------------------------
Anomalias até 2019-08-30: 3462
-------------------------------------------------
Anomalias até 2019-09-06: 3462
-------------------------------------------------
Anomalias até 2019-09-13: 3462
-------------------------------------------------
Anomalias até 2019-09-20: 3462
-------------------------------------------------
Anomalias até 2019-09-27: 3462
-------------------------------------------------
Anomalias até 2019-10-04: 3462
-------------------------------------------------
Anomalias até 2019-10-11: 3462
-------------------------------------------------
Anomalias até 2019-10-18: 9053
-------------------------------------------------
Anomalias até 2019-10-25: 20701
-------------------------------------------------
Anomalias até 2019-11-01: 33951
-------------------------------------------------
Anomalias até 2019-11-08: 33951
-------------------------------------------------
Anomalias até 2019-11-15: 33951
-------------------------------------------------
Anomalias até 2019-11-22: 43413
-------------------------------------------------
Anomalias até 2019-11-29: 59386
-------------------------------------------------
Anomalias até 2019-12-06: 63094
-------------------------------------------------
Anomalias até 2019-12-13: 67209
-------------------------------------------------
Anomalias até 2019-12-20: 76212
-------------------------------------------------
Anomalias até 2019-12-27: 82105
-------------------------------------------------
Anomalias até 2020-01-03: 89692
-------------------------------------------------
Anomalias até 2020-01-10: 94908
-------------------------------------------------
Anomalias até 2020-01-17: 100641
-------------------------------------------------
Anomalias até 2020-01-24: 115044
-------------------------------------------------
Anomalias até 2020-01-31: 129717
-------------------------------------------------
Anomalias até 2020-02-07: 138572
-------------------------------------------------
Anomalias até 2020-02-14: 141486
-------------------------------------------------
Anomalias até 2020-02-21: 149830
-------------------------------------------------
Anomalias até 2020-02-28: 161466
-------------------------------------------------
Anomalias até 2020-03-06: 173018
-------------------------------------------------
Anomalias até 2020-03-13: 174322
-------------------------------------------------
Anomalias até 2020-03-20: 186369
-------------------------------------------------
Anomalias até 2020-03-27: 194956
-------------------------------------------------
Anomalias até 2020-04-03: 204520
-------------------------------------------------
Anomalias até 2020-04-10: 211916
-------------------------------------------------
Anomalias até 2020-04-17: 215794
-------------------------------------------------
Anomalias até 2020-04-24: 222264
-------------------------------------------------
Anomalias até 2020-05-01: 234007
-------------------------------------------------
Anomalias até 2020-05-08: 246082
-------------------------------------------------
Anomalias até 2020-05-15: 249345
-------------------------------------------------
Anomalias até 2020-05-22: 256569
-------------------------------------------------
Anomalias até 2020-05-29: 268128
-------------------------------------------------
Anomalias até 2020-06-05: 281425
-------------------------------------------------
Anomalias até 2020-06-12: 283649
-------------------------------------------------
Anomalias até 2020-06-19: 293355
-------------------------------------------------
Anomalias até 2020-06-26: 296989
-------------------------------------------------
Anomalias até 2020-07-03: 301974
-------------------------------------------------
Anomalias até 2020-07-10: 305037
-------------------------------------------------
Anomalias até 2020-07-17: 305037
-------------------------------------------------
Anomalias até 2020-07-24: 305037
-------------------------------------------------
Anomalias até 2020-07-31: 305037
-------------------------------------------------
Anomalias até 2020-08-07: 305037
-------------------------------------------------
Anomalias até 2020-08-14: 305037
-------------------------------------------------
Anomalias até 2020-08-21: 305037
-------------------------------------------------
Anomalias até 2020-08-28: 305037
-------------------------------------------------
Anomalias até 2020-09-04: 305037
-------------------------------------------------
Anomalias até 2020-09-11: 308873
-------------------------------------------------
Anomalias até 2020-09-18: 308873
-------------------------------------------------
Anomalias até 2020-09-25: 308873
-------------------------------------------------
Anomalias até 2020-10-02: 308873
-------------------------------------------------
Anomalias até 2020-10-09: 314822
-------------------------------------------------
Anomalias até 2020-10-16: 314822
-------------------------------------------------
Anomalias até 2020-10-23: 314822
-------------------------------------------------
Anomalias até 2020-10-30: 314822
-------------------------------------------------
Anomalias até 2020-11-06: 314822
-------------------------------------------------
Anomalias até 2020-11-13: 316274
-------------------------------------------------
Anomalias até 2020-11-20: 316274
-------------------------------------------------
Anomalias até 2020-11-27: 316274
-------------------------------------------------
Anomalias até 2020-12-04: 316274
-------------------------------------------------
Anomalias até 2020-12-11: 318463

In [331]:
tabela_quinzenal = DetectarAnomalia(dataset, "Quinzenal")

-------------------------------------------------
Anomalias até 2019-02-10: 0
-------------------------------------------------
Anomalias até 2019-02-25: 0
-------------------------------------------------
Anomalias até 2019-03-12: 1959
-------------------------------------------------
Anomalias até 2019-03-27: 4605
-------------------------------------------------
Anomalias até 2019-04-11: 5626
-------------------------------------------------
Anomalias até 2019-04-26: 8876
-------------------------------------------------
Anomalias até 2019-05-11: 9766
-------------------------------------------------
Anomalias até 2019-05-26: 13138
-------------------------------------------------
Anomalias até 2019-06-10: 13138
-------------------------------------------------
Anomalias até 2019-06-25: 13138
-------------------------------------------------
Anomalias até 2019-07-10: 13138
-------------------------------------------------
Anomalias até 2019-07-25: 13138
-------------------------------------------------
Anomalias até 2019-08-09: 13138
-------------------------------------------------
Anomalias até 2019-08-24: 13138
-------------------------------------------------
Anomalias até 2019-09-08: 13138
-------------------------------------------------
Anomalias até 2019-09-23: 13138
-------------------------------------------------
Anomalias até 2019-10-08: 13138
-------------------------------------------------
Anomalias até 2019-10-23: 13138
-------------------------------------------------
Anomalias até 2019-11-07: 31427
-------------------------------------------------
Anomalias até 2019-11-22: 54382
-------------------------------------------------
Anomalias até 2019-12-07: 75339
-------------------------------------------------
Anomalias até 2019-12-22: 89689
-------------------------------------------------
Anomalias até 2020-01-06: 102420
-------------------------------------------------
Anomalias até 2020-01-21: 116797
-------------------------------------------------
Anomalias até 2020-02-05: 150606
-------------------------------------------------
Anomalias até 2020-02-20: 167286
-------------------------------------------------
Anomalias até 2020-03-06: 195559
-------------------------------------------------
Anomalias até 2020-03-21: 209602
-------------------------------------------------
Anomalias até 2020-04-05: 229850
-------------------------------------------------
Anomalias até 2020-04-20: 239292
-------------------------------------------------
Anomalias até 2020-05-05: 260222
-------------------------------------------------
Anomalias até 2020-05-20: 275749
-------------------------------------------------
Anomalias até 2020-06-04: 303780
-------------------------------------------------
Anomalias até 2020-06-19: 316724
-------------------------------------------------
Anomalias até 2020-07-04: 328047
-------------------------------------------------
Anomalias até 2020-07-19: 330673
-------------------------------------------------
Anomalias até 2020-08-03: 334570
-------------------------------------------------
Anomalias até 2020-08-18: 338614
-------------------------------------------------
Anomalias até 2020-09-02: 340933
-------------------------------------------------
Anomalias até 2020-09-17: 346159
-------------------------------------------------
Anomalias até 2020-10-02: 347993
-------------------------------------------------
Anomalias até 2020-10-17: 353942
-------------------------------------------------
Anomalias até 2020-11-01: 353942
-------------------------------------------------
Anomalias até 2020-11-16: 353942
-------------------------------------------------
Anomalias até 2020-12-01: 353942
-------------------------------------------------
Anomalias até 2020-12-16: 353942

In [332]:
tabela_trimestral = DetectarAnomalia(dataset, "Trimestral")

-------------------------------------------------
Anomalias até 2019-07-10: 15227
-------------------------------------------------
Anomalias até 2019-10-08: 29268
-------------------------------------------------
Anomalias até 2020-01-06: 152793
-------------------------------------------------
Anomalias até 2020-04-05: 288810
-------------------------------------------------
Anomalias até 2020-07-04: 362392
-------------------------------------------------
Anomalias até 2020-10-02: 388648
-------------------------------------------------
Anomalias até 2020-12-31: 418623

In [333]:
tabela_semestral = DetectarAnomalia(dataset, "Semestral")

-------------------------------------------------
Anomalias até 2020-01-06: 135035
-------------------------------------------------
Anomalias até 2020-07-04: 360098
-------------------------------------------------
Anomalias até 2020-12-31: 409026

In [334]:
#tabela_diaria = DetectarAnomalia(dataset, "Diario")

In [335]:
tabela_final = tabela_semanal.iloc[0:0]
tabela_final = tabela_final.append(tabela_mensal)
print(tabela_final.shape)
tabela_final = tabela_final.append(tabela_semanal)
print(tabela_final.shape)
tabela_final = tabela_final.append(tabela_quinzenal)
tabela_final = tabela_final.append(tabela_semestral)
#tabela_final = tabela_final.append(tabela_diaria)

(419505, 6)
(737968, 6)

In [336]:
tabela_diaria

       JOBNAME       DATE  Valor_MIPS_Atual  ...    Status DATA ANTERIOR Anomalia
12    FTOMSTAT 2019-01-12             53.53  ...  Aumentou           NaN   Diario
14    FS0205G0 2019-01-12             17.31  ...  Aumentou           NaN   Diario
15    FS0205NL 2019-01-12              0.21  ...  Aumentou           NaN   Diario
20      FR3451 2019-01-12             22.54  ...  Aumentou           NaN   Diario
24    FS0205GA 2019-01-12             15.29  ...  Aumentou           NaN   Diario
...        ...        ...               ...  ...       ...           ...      ...
4614  FG95BM17 2020-12-06              0.18  ...  Aumentou           NaN   Diario
4616  FG95BM15 2020-12-06              1.42  ...  Aumentou           NaN   Diario
4617  FG95BR09 2020-12-06              0.02  ...  Aumentou           NaN   Diario
4638  FG95BM13 2020-12-06              0.69  ...  Aumentou           NaN   Diario
4639   BG9433A 2020-12-06             58.35  ...  Aumentou           NaN   Diario

[271429 rows x 7 columns]

NameError: ignored