<a href="https://colab.research.google.com/github/KIQVinicius/Data-Science/blob/master/Dados_multidimensionados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
resultados_exames = pd.read_csv('/content/exames.csv')
resultados_exames.head().head()

         id diagnostico  exame_1  ...  exame_31  exame_32  exame_33
0    842302           M    17.99  ...    0.4601   0.11890       NaN
1    842517           M    20.57  ...    0.2750   0.08902       NaN
2  84300903           M    19.69  ...    0.3613   0.08758       NaN
3  84348301           M    11.42  ...    0.6638   0.17300       NaN
4  84358402           M    20.29  ...    0.2364   0.07678  0.854454

[5 rows x 35 columns]

In [9]:
from sklearn.model_selection import train_test_split
from numpy import random

seed = 123143
random.seed(seed)

In [12]:
valores_exames = resultados_exames.drop(columns =['id', 'diagnostico'])
diagnostico = resultados_exames['diagnostico']


treino_x, teste_x, treino_y,teste_y = train_test_split(valores_exames,diagnostico)

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
classificador = RandomForestClassifier(n_estimators = 100)

In [16]:
classificador.fit(treino_x,treino_y )

ValueError: ignored