<a href="https://colab.research.google.com/github/KIQVinicius/Data-Science/blob/master/Recomenda%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Recomendação de Filmes

In [1]:
import pandas as pd

In [7]:
filmes = pd.read_csv('movies.csv')
filmes.columns = ['filmeId', 'titulo', 'generos']
filmes = filmes.set_index('filmeId')

In [8]:
filmes.head()

                                     titulo                                      generos
filmeId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [9]:
notas = pd.read_csv('ratings.csv')
notas.columns = ['usuarioId', 'filmeId', 'nota', 'momento']
notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [10]:
notas.describe()

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

#Primeira tentativa de recomendação

In [14]:
total_de_votos = notas['filmeId'].value_counts()

In [16]:
filmes['total_de_votos'] = total_de_votos

In [19]:
filmes.sort_values('total_de_votos', ascending=False)

                                     titulo  ... total_de_votos
filmeId                                      ...
356                     Forrest Gump (1994)  ...          329.0
318        Shawshank Redemption, The (1994)  ...          317.0
296                     Pulp Fiction (1994)  ...          307.0
593        Silence of the Lambs, The (1991)  ...          279.0
2571                     Matrix, The (1999)  ...          278.0
...                                     ...  ...            ...
30892    In the Realms of the Unreal (2004)  ...            NaN
32160              Twentieth Century (1934)  ...            NaN
32371             Call Northside 777 (1948)  ...            NaN
34482          Browning Version, The (1951)  ...            NaN
85565                    Chalet Girl (2011)  ...            NaN

[9742 rows x 3 columns]

In [22]:
notas_medias = notas.groupby('filmeId').mean()['nota']

In [24]:
filmes['nota_media'] = notas_medias
filmes.head()

                                     titulo  ... nota_media
filmeId                                      ...
1                          Toy Story (1995)  ...   3.920930
2                            Jumanji (1995)  ...   3.431818
3                   Grumpier Old Men (1995)  ...   3.259615
4                  Waiting to Exhale (1995)  ...   2.357143
5        Father of the Bride Part II (1995)  ...   3.071429

[5 rows x 4 columns]

#Segunda tentativa

In [27]:
filmes.sort_values('nota_media', ascending=False).head(10)

                                            titulo  ... nota_media
filmeId                                             ...
88448        Paper Birds (Pájaros de papel) (2010)  ...        5.0
100556                  Act of Killing, The (2012)  ...        5.0
143031                             Jump In! (2007)  ...        5.0
143511                                Human (2015)  ...        5.0
143559                         L.A. Slasher (2015)  ...        5.0
6201                              Lady Jane (1986)  ...        5.0
102217              Bill Hicks: Revelations (1993)  ...        5.0
102084                Justice League: Doom (2012)   ...        5.0
6192     Open Hearts (Elsker dig for evigt) (2002)  ...        5.0
145994                      Formula of Love (1984)  ...        5.0

[10 rows x 4 columns]