<a href="https://colab.research.google.com/github/KIQVinicius/Data-Science/blob/master/SGP_Analise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import pandas as pd

In [68]:
falhas_estacao = pd.read_csv("/content/falhas_estacao_horarioinicio_nomesinal_H.csv")

In [69]:
takt_estacao = pd.read_csv("/content/takt_estacao_horarioentrada_numprod_H.csv")

In [70]:
falhas_estacao['horarioinicio'] = pd.to_datetime(falhas_estacao['horarioinicio'].str[0:19])
falhas_estacao['horariofinal'] = pd.to_datetime(falhas_estacao['horariofinal'].str[0:19])

In [71]:
falhas_estacao['Duração'] = falhas_estacao['horariofinal'] - falhas_estacao['horarioinicio']
falhas_estacao[['horariofinal', 'horarioinicio','Duração' ]]

             horariofinal       horarioinicio  Duração
0     2020-05-26 05:54:35 2020-05-26 05:45:07 00:09:28
1     2020-05-26 05:54:53 2020-05-26 05:54:48 00:00:05
2     2020-05-26 05:56:51 2020-05-26 05:56:48 00:00:03
3     2020-05-26 05:57:02 2020-05-26 05:56:59 00:00:03
4     2020-05-26 05:59:28 2020-05-26 05:59:25 00:00:03
...                   ...                 ...      ...
17746 2020-05-28 14:06:11 2020-05-28 14:06:09 00:00:02
17747 2020-05-28 14:24:43 2020-05-28 14:24:41 00:00:02
17748 2020-05-28 14:35:51 2020-05-28 14:35:48 00:00:03
17749 2020-05-28 14:37:50 2020-05-28 14:37:47 00:00:03
17750 2020-05-28 14:41:27 2020-05-28 14:41:24 00:00:03

[17751 rows x 3 columns]

In [72]:
falhas_estacao['nomesinal'].value_counts()

InvasaoArea           12559
SegurancaInterlock     1353
Falha                  1225
PostoInterlock          997
FalhaRFID               382
FalhaTorque             321
ParadaProcesso          293
Colisao                 216
PVirador                129
FimCurso                112
PEOMEixo                 58
EmergenciaAGV            49
PEOMMotores              33
PEOMCabine               14
PAArCondicionado          7
PPElevatoria              1
Emergencia                1
PADHidraulica             1
Name: nomesinal, dtype: int64

In [76]:
falhas_estacao.query("nomesinal == 'ParadaProcesso'")[['horariofinal', 'horarioinicio','Duração','nomesinal']]

             horariofinal       horarioinicio  Duração       nomesinal
174   2020-05-26 13:50:54 2020-05-26 13:50:43 00:00:11  ParadaProcesso
256   2020-05-27 08:50:23 2020-05-27 08:50:21 00:00:02  ParadaProcesso
367   2020-05-27 13:47:56 2020-05-27 13:45:01 00:02:55  ParadaProcesso
579   2020-05-26 08:08:31 2020-05-26 08:08:03 00:00:28  ParadaProcesso
598   2020-05-26 10:55:25 2020-05-26 10:51:37 00:03:48  ParadaProcesso
...                   ...                 ...      ...             ...
17688 2020-05-28 08:44:36 2020-05-28 08:43:40 00:00:56  ParadaProcesso
17694 2020-05-28 08:51:47 2020-05-28 08:50:48 00:00:59  ParadaProcesso
17707 2020-05-28 10:31:15 2020-05-28 10:30:49 00:00:26  ParadaProcesso
17722 2020-05-28 10:57:59 2020-05-28 10:55:47 00:02:12  ParadaProcesso
17737 2020-05-28 13:40:51 2020-05-28 13:40:05 00:00:46  ParadaProcesso

[293 rows x 4 columns]

In [77]:
falhas_estacao.groupby('nomesinal')
dataset_semana_anterior = dataset_semana[dataset_semana['Valor_MIPS']>0].groupby('JOBNAME')

In [87]:
group_falhas = falhas_estacao.groupby('nomesinal')
falhas_estacao['duracao'] = falhas_estacao['duracao']/60

In [88]:
pd.DataFrame(group_falhas['duracao'].mean())

                      duracao
nomesinal
Colisao              0.648302
Emergencia           0.350000
EmergenciaAGV        6.520408
Falha                2.643687
FalhaRFID            0.111518
FalhaTorque          1.088162
FimCurso             0.289286
InvasaoArea          0.392331
PAArCondicionado     4.497619
PADHidraulica        0.166667
PEOMCabine           7.088095
PEOMEixo             2.411494
PEOMMotores          1.355051
PPElevatoria        29.900000
PVirador             2.637209
ParadaProcesso       4.646189
PostoInterlock       2.821832
SegurancaInterlock   0.657157

In [93]:
takt_estacao[['taktplanejado','tempototal']]

      taktplanejado  tempototal
0               288        2514
1               288        2603
2               288        4218
3               288        2568
4               288        3108
...             ...         ...
6698            360         256
6699            360         258
6700            360         269
6701            360         532
6702            360         758

[6703 rows x 2 columns]

In [96]:
takt_estacao['equipmentid'].value_counts()

40    174
48    174
49    174
57    174
42    174
50    174
56    174
39    174
41    174
51    174
54    173
76    173
53    173
75    173
65    173
73    173
72    173
68    173
71    173
52    173
67    173
64    173
62    173
70    173
74    173
63    173
66    173
58    172
60    172
59    172
80    164
77    164
78    164
79    164
83    163
81    163
82    163
38     89
37     87
43     33
46     32
47     32
44     32
45     28
86      6
84      5
85      5
87      4
88      3
90      3
89      2
Name: equipmentid, dtype: int64